/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.headline_home {
  font-family: 'Arima Madurai', cursive;
  text-align: center;
}

.searchform-home {
  padding: 15px 16px 8px;
  text-align: center;
}

.form-group {
  margin: 50px 0px 0px 0px;
}

.btn-search {
  background-color: gray;
}

.home-container {
  margin-top: 110px;
  margin-bottom: 15px;
}

body {
  background-color: #FDFCFB;
}

.crop {
 height: 200px;
 width: 100%;
 overflow: hidden;
}

.box-images {
  text-align: center;
  width: 100%;
  min-height: 100%;
}

.offer-details {
  margin: 0 0 2px;
}

