/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.headline_home {
  text-align: center;
}

.searchform-home {
  padding: 15px 16px 8px;
  text-align: center;
}

.form-group {
  margin: 50px 0px 0px 0px;
}

.btn-search {
  background-color: gray;
}

.home-container {
  margin: 50px 10% 10px 10%;
}

body {
  background-color: #FAFCF9;
}
