<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="searchform-wrapper">
        <div class="searchform-row">
          <div class="searchform-location"><input type="text" class="form-control" placeholder="Location"></div>
          <div class="searchform-date"><input type="date" class="form-control" placeholder="Date"></div>
          <div class="age"><input type="number" class="form-control" placeholder="Age"></div>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Gender
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Male</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Female</a></li>
            </ul>
          </div>
          <div class="searchform-submit">
            <button type="submit" class="btn btn-primary btn-large btn-block">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


