<div class="headline_home">
  <h1>
    Unforgettable experiance start here.
  </h1>
  <h2>
    Book unique experiences and get new friends all over the world.
  </h2>
</div>
<%= render "shared/searchbar" %>

<p><%= link_to "See All Friends You Can Rent", offers_path %></p>
